{% extends 'base.html' %}
{% block content %}

 <!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
  <div class="container">
  
      <div class="d-flex justify-content-between align-items-center">
       <h2>Privacy Policy</h2>
       <ol>
         <li><a href="/">Home</a></li>
         <li>Privacy Policy</li>
       </ol>
     </div>
  </div>
</section><!-- End Breadcrumbs -->
<div class="container">
    <h1>Privacy Policy:</h1>
    <h3>1. Information Collection:</h3>
    <p>Capstars collects user email addresses and credit card information for subscription purposes.</p>
    <h3>2. How Information is Used:</h3>
    <p>The collected information is used solely for providing Capstar services and is not utilized for any other purposes.</p>
    <h3>3. Data Security:</h3>
    <p>Capstars ensures data security through the use of third-party billing software (Stripe) and custom authentication systems for Capstars accounts.</p>
    <h3>4. Third-Party Sharing:</h3>
    <p>User data is shared with Stripe for billing purposes only.</p>
    <h3>5. User Rights:</h3>
    <p>Users have the right to request access, correction, or deletion of their data at any time.</p>
    <h3>6. Policy Updates:</h3>
    <p>This privacy policy will be updated as needed, and users will be notified via email about any changes.</p>

</div>

{% endblock %}