{% extends 'base.html' %}
{% block content %}

 <!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
  <div class="container">
  
      <div class="d-flex justify-content-between align-items-center">
       <h2>Terms of Service</h2>
       <ol>
         <li><a href="/">Home</a></li>
         <li>Terms of Service</li>
       </ol>
     </div>
  </div>
</section><!-- End Breadcrumbs -->
<div class = container>
    <h1>Terms of Service (ToS):</h1>
    <h3>User Agreement:</h3>
    <p>Users are prohibited from sharing the information acquired through Capstars with others, whether for free or in exchange for compensation.</p>
    <h3>Subscription Terms:</h3>
    <p>Capstars offers daily, weekly, and monthly subscriptions that users can sign up for. Subscribers can cancel at any time, and the subscription will automatically renew. Once a subscription is purchased, it is non-refundable.</p>
    <h3>3. Intellectual Property:</h3>
    <p>All content provided by Capstars is protected by a subscription service and is strictly for the use of the purchasing individual. Sharing, distributing, or reproducing content in any form is prohibited under all circumstances.</p>
    <h3>4. Liabilities and Disclaimers:</h3>
    <p>Capstars holds no responsibility for the outcomes resulting from the use of provided information. Users utilize the information at their own risk.</p>
    <h3>5. User Conduct:</h3>
    <p>No specific user conduct guidelines are outlined at this time.</p>

</div>

{% endblock %}